// =========== Buttons

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

// Choose a div or ul to group up your buttons
div.buttons {
    list-style: none;
    margin: 0 0 $vertical-spacing 0;
    @include clearfix;
}

// The standard button has the $color-brand colors
%button {
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    font-family: $font-family;
    line-height: 1;
    margin: 0 0 0.25rem 0;
    padding: 0.5rem 0.75rem;
    border: 0;
    vertical-align: baseline;
    text-decoration: none;
    @include border-radius($border-radius);
}

.button,
input[type=submit],
button {
    @extend %button;
    color: $white;
    background: $color-brand;
    &:hover { background: darken($color-brand, 5%); }
    &:active,
    &:focus {
        background: darken($color-brand, 10%);
        color: lighten($black, 75%);
        @include box-shadow(inset 0 1px 5px rgba($black, 0.75));
    }
}

// The dark button
.button-contrast,
input[type=submit].button-contrast,
button.button-contrast {
    @extend %button;
    color: $white;
    background-color: lighten($black, 15%);
    &:hover { background-color: $black; }
    &:active,
    &:focus {
        background-color: $black;
        color: lighten($black, 75%);
        @include box-shadow(inset 0 1px 5px rgba($black, 0.75));
    }
}

// The soft grey button
.button-soft,
input[type=submit].button-soft,
button.button-soft {
    @extend %button;
    color: lighten($black, 20%);
    background: lighten($black, 80%);
    &:hover {
        color: $black;
        background: lighten($black, 75%);
    }
    &:active, &:focus {
        background: lighten($black, 65%);
        color: lighten($black, 20%);
        @include box-shadow(inset 0 1px 5px rgba($black, 0.1));
    }
}

.button-success,
input[type=submit].button-success,
button.button-success {
    @extend %button;
    color: $white;
    background-color: $color-success;
    &:hover {
        background-color: darken($color-success, 5%);
        color: $white;
    }
    &:active, &:focus {
        background-color: darken($color-success, 10%);
        color: lighten($black, 75%);
        @include box-shadow(inset 0 1px 5px rgba($black, 0.3));
    }
}

.button-alert,
input[type=submit].button-alert,
button.button-alert {
    @extend %button;
    color: $white;
    background-color: $color-alert;
    &:hover {
        background-color: darken($color-alert, 5%);
        color: $white;
    }
    &:active, &:focus {
        background-color: darken($color-alert, 10%);
        color: lighten($black, 75%);
        @include box-shadow(inset 0 1px 5px rgba($black, 0.3));
    }
}