// =========== Tables

table {
    border: 1px solid lighten($black, 70%);
    border-collapse: separate;
    border-spacing: 0;
    @include border-radius($border-radius);
    margin-bottom: $vertical-spacing;
    width: 100%;
}

thead th {
    background: lighten($black, 90%);
    color: $black;
    font-weight: bold;
    padding: 0.5rem;
    text-align: left;
}

tbody tr:nth-child(2n+2) { background: lighten($black, 90%); }

tbody td {
    border-left: 1px solid lighten($black, 80%);
    border-top: 1px solid lighten($black, 80%);
    padding: 0.5rem;
    &:first-child { border-left: 0; }
}